<html>
    <head>
        <title>It's Lit NYC</title>

        <style>
            #background {
                position: absolute;
            }
            .content {
                position: absolute;
                margin-left: 30px;
                margin-top: 119px;
                width: 381px;
                height: 679px;
                overflow: scroll;
                border: none;
            }

            body {
                margin: 0px;
            }

            .phone {
                transform-origin: top left;
            }

        </style>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>

    <body>
        <div class="phone">
            <img src="static/iphone_black.jpg" id="background">
            <iframe class="content" src={{page}}>
            </iframe>
        </div>
        <div class="other_phone" style="position:absolute; right:0">
            <a href="?page=notification.html">Show notification</a>

        <script>
            function resize() {
                var scale = window.innerHeight / $('#background').height();
                $('.phone').css('transform', 'scale(' + scale + ')');
                console.log('scaling to ' + scale);
            }

            $().ready(resize);
            $(window).resize(resize);
        </script>
    </body>
</html>
